* {
    font-family: 'Raleway' , sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

h1 {
    font-family: 'Raleway' , sans-serif;
    font-weight: 500;
    font-size: 50px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#iguana0 {
    width: 100%;
    height: auto;

}

.desc-section{
    width: 75%;
    margin: 0 auto;
}

.definicion_parrafo {
    display: inline-block;
    font-weight: 300;
    color: #ffffff;
    width: 50%;
    vertical-align: middle;
    padding: 60px 30px 60px 30px;
}

.def_imagen {
    display: inline-block;
    vertical-align: middle;
}

#iguana1 {
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
    float: inline-end;
}

.icons-section {
    background-color: #1e1a13;
    height: 400px;
    text-align: center;
    align-items: center;
    margin-top: 75px;
}

h2 {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 47;
    text-align: center;
    padding-top: 30px;

}

.parrafo {
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    display: inline;
}
 
.icono {
    color: white;
    font-size: 60px;
    display: inline-block;
    margin: 50px;
}

.imagenes {
    height: 300px;
    background-color: #000000;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

.iguana2 {
    top: 1561px;
    left: 150px;
    width: 316px;
    height: 202px;
    }

.iguana3 {
    top: 1561px;
    left: 482px;
    width: 316px;
    height: 202px;
}

.iguana4 {
    top: 1561px;
    left: 814px;
    width: 316px;
    height: 202px;
}
    

footer {
    height: 102px;
    background-color: #1e1a13;
}

p {
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 24px;
    padding-top: 39px;
    padding-bottom: 39px;
}